@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
.law {
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif;
  --black: #242424;
  --white: #f5f5f5;
  --pill: #e0d4be;
  --red: #1c415b; }
  .law ul {
    list-style: none; }

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

/* Variables*/
/*  nav: Top Menu Section
----------------------------------------------- */
.page-wrap {
  position: relative; }
  .page-wrap section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    min-height: 100vh;
    padding: 8em 5em 2em 5em;
    background-color: #152a3b;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    color: #fff; }
    .page-wrap section .level-1 {
      display: grid;
      grid-template-columns: 65% 1fr;
      grid-auto-rows: min-content;
      grid-gap: 2em; }
      .page-wrap section .level-1 h3 {
        font-weight: 600;
        font-size: 1.8rem;
        text-transform: uppercase; }
      .page-wrap section .level-1 p {
        margin: 0.5em 0 0 0.5em; }
      .page-wrap section .level-1 p small {
        font-size: 1rem;
        opacity: 0.5;
        cursor: pointer; }
        .page-wrap section .level-1 p small:hover {
          opacity: 1;
          color: var(--red); }
      .page-wrap section .level-1 ul > li {
        font-size: 1.2rem;
        padding: 0.3em;
        transition: color 0.3s; }
        .page-wrap section .level-1 ul > li:hover {
          color: var(--red);
          cursor: pointer; }
        .page-wrap section .level-1 ul > li:nth-of-type(1) {
          grid-column: 1/2;
          grid-row: 1/4; }
        .page-wrap section .level-1 ul > li:nth-of-type(2) {
          grid-column: 2/3;
          grid-row: 1/2; }
        .page-wrap section .level-1 ul > li:nth-of-type(3) {
          grid-column: 2/3;
          grid-row: 2/3; }
        .page-wrap section .level-1 ul > li:nth-of-type(4) {
          grid-column: 2/3;
          grid-row: 3/4; }
  .page-wrap header {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden; }
    .page-wrap header .law_nav {
      width: 100%;
      position: fixed;
      z-index: 10;
      padding: 1em 2em;
      display: flex;
      justify-content: space-between; }
      .page-wrap header .law_nav img {
        width: 100px;
        height: 35px; }
      .page-wrap header .law_nav ul {
        display: flex;
        color: var(--white);
        padding-left: 0 !important; }
        .page-wrap header .law_nav ul li:not(#burger) {
          visibility: hidden;
          margin-right: 1.5em; }
        .page-wrap header .law_nav ul #burger {
          width: min-content;
          height: 28px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          cursor: pointer; }
          .page-wrap header .law_nav ul #burger span {
            display: block;
            height: 3px;
            width: 22px;
            background-color: #fff;
            border-radius: 200px;
            transition: transform 0.3s 0.3s; }
            .page-wrap header .law_nav ul #burger span:nth-of-type(1) {
              transform: translateY(-3px) scaleX(1.3); }
            .page-wrap header .law_nav ul #burger span:nth-of-type(3) {
              transform: translateY(3px) scaleX(1.3); }

/*  MAIN: Slider Section
----------------------------------------------- */
.law_main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .law_main article {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--i); }

.hero-info {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 8; }
  .hero-info h1 {
    color: var(--white);
    font-size: clamp(3.2rem, 10vw, 7rem);
    line-height: clamp(3.2rem, 10vw, 7rem);
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); }
  .hero-info h3 {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 2em; }

.hero-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }

.hi-1 {
  background-image: url("../pages/Estudio/images/main-1.jpg"); }

.hi-2 {
  background-image: url("../pages/Estudio/images/main-2.jpg"); }

.hi-3 {
  background-image: url("../pages/Estudio/images/main-3-policia.png"); }

.hi-4 {
  background-image: url("../pages/Estudio/images/main-4-sucesorio.jpg"); }

.hi-5 {
  background-image: url("../pages/Estudio/images/main-3.jpg"); }

/*  SECTION: Overlay Menu Section
----------------------------------------------- */
/* CARDS */
.law_container {
  height: 100vh;
  width: 100vw;
  max-width: 1280px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; }
  .law_container .law_border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10p;
    transition: border 1s;
    position: relative; }
    .law_container .law_border:hover {
      border: 1px solid white; }
    .law_container .law_border h2 {
      font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
      color: white;
      margin: 20px;
      opacity: 0;
      transition: opacity 1s; }
    .law_container .law_border .fa {
      opacity: 0;
      transition: opacity 1s; }
    .law_container .law_border .law_icons {
      position: absolute;
      fill: #fff;
      color: #fff;
      height: 130px;
      top: 226px;
      width: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
  .law_container .law_card {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .law_container .law_card0 {
    background: url("../pages/Estudio/images/silvestri.jpg") center center no-repeat;
    background-size: 300px; }
    .law_container .law_card0:hover {
      background: url("../pages/Estudio/images/silvestri.jpg") left center no-repeat;
      background-size: 600px; }
      .law_container .law_card0:hover h2 {
        opacity: 1; }
      .law_container .law_card0:hover .fa {
        opacity: 1; }
  .law_container .law_card1 {
    background: url("../pages/Estudio/images/depalma.jpg") center center no-repeat;
    background-size: 300px; }
    .law_container .law_card1:hover {
      background: url("../pages/Estudio/images/depalma.jpg") left center no-repeat;
      background-size: 600px; }
      .law_container .law_card1:hover h2 {
        opacity: 1; }
      .law_container .law_card1:hover .fa {
        opacity: 1; }

.law_main_b {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "nav" "quienes-somos" "redes" "footer";
  /* FOOTER */ }
  .law_main_b .law_nav_2 {
    grid-area: nav;
    display: none !important; }
  .law_main_b .law_main__2 {
    grid-area: quienes-somos;
    display: flex;
    flex-direction: column-reverse;
    background-color: #F6F6F6;
    padding: 40px 0px 40px 0px; }
    .law_main_b .law_main__2 h3 {
      color: #1c415b;
      padding-bottom: 30px; }
    .law_main_b .law_main__2 .law_main__2__a {
      display: flex;
      flex-direction: column; }
      .law_main_b .law_main__2 .law_main__2__a div h3 {
        color: #1c415b;
        font-size: 30px;
        text-align: center;
        padding-bottom: 30px; }
    .law_main_b .law_main__2 .law_main__2__b {
      text-align: center;
      margin-bottom: 40px;
      padding: 0px 15px 0px 15px; }
      .law_main_b .law_main__2 .law_main__2__b h3 {
        font-size: 30px;
        color: #1c415b; }
  .law_main_b .law_main__3 {
    grid-area: redes;
    display: flex;
    flex-direction: column;
    margin: 50px 0px 20px 0px;
    align-items: center; }
    .law_main_b .law_main__3 .law_main__3__a {
      position: relative;
      text-align: center;
      margin-bottom: 40px; }
    .law_main_b .law_main__3 .law_main__3__c {
      display: flex;
      flex-direction: column;
      margin: 10px 0px 10px 0px; }
      .law_main_b .law_main__3 .law_main__3__c h4 {
        text-align: center;
        padding-bottom: 15px; }
      .law_main_b .law_main__3 .law_main__3__c ul {
        display: flex;
        justify-content: space-evenly;
        margin-top: 5px;
        max-width: 300px; }
        .law_main_b .law_main__3 .law_main__3__c ul:hover a {
          filter: blur(0.125rem); }
        .law_main_b .law_main__3 .law_main__3__c ul li {
          display: inline-block;
          width: 60px;
          height: 60px;
          text-align: center; }
          .law_main_b .law_main__3 .law_main__3__c ul li a {
            display: block;
            background-color: #F6F6F6;
            color: #1c415b;
            line-height: 3.125rem;
            font-size: 1.5625rem;
            box-shadow: 0rem 0.1875rem 0.3125rem 0rem rgba(0, 0, 0, 0.2);
            transition: .2s;
            border: 0.0625rem;
            border-radius: 0.1875rem; }
            .law_main_b .law_main__3 .law_main__3__c ul li a:hover {
              transform: translateY(-0.1875rem) scale(1.05);
              box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(0, 0, 0, 0.2);
              filter: none; }
          .law_main_b .law_main__3 .law_main__3__c ul li .facebook:hover {
            background: #3b5998; }
          .law_main_b .law_main__3 .law_main__3__c ul li .twitter:hover {
            background: #55acee; }
          .law_main_b .law_main__3 .law_main__3__c ul li .instagram:hover {
            background: #e4405f; }
  .law_main_b .law_footer {
    grid-area: footer;
    display: flex;
    flex-direction: column-reverse;
    background-color: #1c415b; }
    .law_main_b .law_footer .footer__a h3 {
      text-align: center;
      color: #fff;
      font-size: 30px;
      padding: 30px 20px 30px 20px;
      font-weight: 400; }
    .law_main_b .law_footer .footer__maps {
      display: flex;
      justify-content: center;
      align-items: center; }
      .law_main_b .law_footer .footer__maps iframe {
        display: block;
        height: 300px;
        width: 300px;
        left: 400px;
        padding-bottom: 20px; }
    .law_main_b .law_footer .law_footer__b {
      display: flex;
      flex-direction: column;
      margin: auto; }
      .law_main_b .law_footer .law_footer__b input {
        padding: 10px;
        margin: 15px;
        border-color: #fff;
        background-color: #1d1a2f;
        border-style: solid;
        font-family: 'Montserrat', sans-serif;
        color: #fff; }
      .law_main_b .law_footer .law_footer__b .detalles {
        height: 100px; }
      .law_main_b .law_footer .law_footer__b .label__checkbox {
        margin: 10px 15px;
        font-weight: 400;
        padding: 10px;
        position: relative;
        justify-content: flex-start;
        justify-content: space-between;
        font-size: 14px;
        text-align: center;
        color: #fff; }
        .law_main_b .law_footer .law_footer__b .label__checkbox .checkbox {
          position: absolute;
          right: 50px; }
      .law_main_b .law_footer .law_footer__b .enviar {
        background-color: #1545A8;
        color: #d0d7db;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-top: 40px; }

/*Medias*/
@media screen and (max-width: 600px) {
  .law_nav {
    padding: 1em 2em; }
  .law_nav h1 {
    font-size: 0.9rem; }
  section {
    padding: 8em 2em 2em 2em; }
  .level-1 {
    grid-template-columns: 1fr; }
  .level-1 li:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2; }
  .level-1 li:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3; }
  .level-1 li:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4; }
  .level-1 li:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 4/5; } }

@media screen and (min-width: 1023px) {
  .law_nav {
    position: absolute; }
  .law_nav ul {
    display: none; }
  .law_logo {
    width: 150px;
    height: auto; }
  nav {
    display: flex;
    flex-direction: row; }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; }
  nav ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 5px;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center; }
  .law_nav_2 {
    display: flex !important; }
  .navbar-nav {
    margin: 0% !important;
    font-size: 18px !important; }
  .law_main__2 {
    align-items: center; }
  .law_main__2__b {
    max-width: 500px; }
  .law_container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 500px;
    margin-top: 40px;
    height: 400px; }
  .snapwidget-widget {
    width: 700px;
    height: auto; }
  .law_main__3__c ul {
    justify-content: space-evenly;
    max-width: none; }
  .law_footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start; }
  .law_footer__a {
    margin-top: 20px; }
  .law_footer__b {
    margin: 30px; } }

.chance {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  top: 0%;
  margin: 0%; }
  .chance a:active, .chance a:link, .chance a:focus, .chance a:visited {
    text-decoration: none;
    color: #fff; }
  .chance a:hover {
    color: #5A5B9E; }
  .chance button {
    text-decoration: none; }

/* Navegador */
.ch_nav {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #E8E3D7;
  top: 0%;
  padding: 0%;
  z-index: 100; }
  .ch_nav .ch_logo {
    width: 80px;
    height: auto; }
    .ch_nav .ch_logo img {
      width: 80px;
      height: auto; }
  .ch_nav .ch_navegador {
    position: relative;
    top: 20px;
    display: flex;
    width: 350px;
    height: 40px;
    justify-content: space-evenly; }
    .ch_nav .ch_navegador .unirse__button {
      background-color: #5A5B9E !important;
      color: white !important;
      font-weight: 600;
      position: relative; }
      .ch_nav .ch_navegador .unirse__button:hover {
        background-color: #3c3d6b !important; }
    .ch_nav .ch_navegador .iniciar__button {
      font-weight: 600;
      color: white !important;
      text-align: center;
      border: 1px;
      border-radius: 30px;
      border-style: solid;
      border-color: #5A5B9E !important;
      background-color: #5A5B9E !important;
      padding: 5px 15px 5px 15px !important; }
      .ch_nav .ch_navegador .iniciar__button:hover {
        border: 2px;
        border-radius: 30px;
        border-style: solid;
        border-color: #5A5B9E;
        background-color: #ffc2ec !important; }

/*MAIN 1*/
.ch_main__1 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-left: 15px;
  background-color: #E8E3D7; }
  .ch_main__1 .ch_main__1__izq {
    display: flex;
    flex-direction: column;
    color: #93A9D1;
    font-style: thin;
    position: relative; }
    .ch_main__1 .ch_main__1__izq h1 {
      line-height: 40px;
      font-weight: 300;
      position: relative;
      font-size: 32px;
      line-height: 38px;
      padding-bottom: 20px;
      padding-top: 20px;
      max-width: 500px; }
    .ch_main__1 .ch_main__1__izq .ch_main__1__izq__list {
      position: relative;
      margin-left: 0px !important; }
      .ch_main__1 .ch_main__1__izq .ch_main__1__izq__list .ch_main__1__button__1, .ch_main__1 .ch_main__1__izq .ch_main__1__izq__list .ch_main__1__button__2, .ch_main__1 .ch_main__1__izq .ch_main__1__izq__list .ch_main__1__button__3 {
        border: 1px !important;
        border-style: solid !important;
        border-color: #dad6d6 !important;
        border-radius: 5px !important;
        min-width: 280px !important;
        text-align: left !important;
        padding: 20px 0px 20px 5px !important;
        margin: 0px 0px 10px  !important;
        background-color: #fff;
        font-size: 20px !important;
        font-weight: 400 !important;
        line-height: 25px !important;
        color: #5A5B9E !important; }
        .ch_main__1 .ch_main__1__izq .ch_main__1__izq__list .ch_main__1__button__1:hover, .ch_main__1 .ch_main__1__izq .ch_main__1__izq__list .ch_main__1__button__2:hover, .ch_main__1 .ch_main__1__izq .ch_main__1__izq__list .ch_main__1__button__3:hover {
          box-shadow: 3px 3px 9px grey !important;
          background-color: #3c3d6b !important;
          color: #fff; }

/* MAIN 2 */
.ch_main__2 {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  background-color: #b993de;
  color: #fff; }
  .ch_main__2 .ch_main__2__izq h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px; }
  .ch_main__2 .ch_main__2__drc {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600; }
    .ch_main__2 .ch_main__2__drc p {
      padding-top: 15px; }
    .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser {
      font-size: 28px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-items: flex-start;
      width: 300px;
      height: 650px; }
      .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__1, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__2, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__3, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__4, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__5, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__6, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__7, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__8, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__9, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__10 {
        position: relative;
        font-size: 21px;
        border: 1px;
        border-radius: 30px;
        border-style: solid;
        border-color: #E8E3D7;
        color: #5A5B9E !important;
        padding: 15px 15px 15px;
        margin: 5px;
        text-align: left; }
        .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__1:hover, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__2:hover, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__3:hover, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__4:hover, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__5:hover, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__6:hover, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__7:hover, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__8:hover, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__9:hover, .ch_main__2 .ch_main__2__drc .ch_main__2__drc__browser .browser__10:hover {
          background-color: #d4cdd2;
          border-color: #d4cdd2; }

/*MAIN 3 */
.ch_main__3 {
  display: flex;
  flex-direction: column;
  background-color: #5d5a9d;
  color: #fff;
  padding-bottom: 40px;
  padding-top: 20px; }
  .ch_main__3 h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500; }
  .ch_main__3 button {
    padding: 12px 25px 12px 25px;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
    margin-left: 15px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    background-color: #ffc2ec; }

/* MAIN 4 */
.ch_main__4 {
  display: flex;
  flex-direction: column-reverse;
  padding: 40px 0px 100px 15px;
  background-color: #d7b2d4;
  color: #fff; }
  .ch_main__4 h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 200; }
  .ch_main__4 p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 200; }
  .ch_main__4 div iframe {
    width: 280px;
    height: auto; }

/* MAIN 5*/
.ch_main__5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #3c3d6b;
  padding-left: 15px; }
  .ch_main__5 h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #3c3d6b; }
  .ch_main__5 .ch_main__5__a, .ch_main__5 .ch_main__5__b {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    --bs-gutter-x: 0rem !important; }
    .ch_main__5 .ch_main__5__a button, .ch_main__5 .ch_main__5__b button {
      padding: 15px;
      border: 1px solid #5A5B9E;
      border-radius: 30px;
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;
      text-align: left;
      background-color: #fff;
      color: #5A5B9E; }

/*MAIN 6*/
.ch_main__6 {
  padding-left: 15px;
  padding-bottom: 40px;
  background-color: white; }
  .ch_main__6 h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 300; }
  .ch_main__6 button {
    border: 1px solid #5A5B9E;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background-color: #5A5B9E;
    color: #fff; }
  .ch_main__6 img {
    display: none; }

/* FOOTER */
.ch_footer {
  background-color: #E8E3D7;
  padding: 20px 30px 20px 0px; }
  .ch_footer h4 {
    color: #5A5B9E;
    font-weight: 700; }
  .ch_footer a {
    color: black; }
    .ch_footer a:hover {
      color: #5A5B9E; }
    .ch_footer a:active {
      color: #000; }
  .ch_footer .ch_footer__table {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 20% 20% 20%;
    grid-template-areas: "logo"     "general"      "soluciones" "directorio"; }
    .ch_footer .ch_footer__table .ch_table__1 {
      grid-area: logo;
      display: flex; }
      .ch_footer .ch_footer__table .ch_table__1 img {
        width: 100px;
        height: auto; }
    .ch_footer .ch_footer__table .ch_table__2 {
      grid-area: general;
      display: flex;
      flex-direction: column; }
    .ch_footer .ch_footer__table .ch_table__3 {
      grid-area: soluciones;
      display: flex;
      flex-direction: column; }
    .ch_footer .ch_footer__table .ch_table__4 {
      grid-area: directorio;
      display: flex;
      flex-direction: column; }

.growshop {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #040404;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 24px;
  font-style: light; }
  .growshop h1 {
    font-weight: 400;
    margin: 0%; }
  .growshop a {
    color: #fff;
    list-style-type: none;
    text-decoration: none; }
  .growshop h2 {
    font-weight: 400px;
    line-height: 24px; }
  .growshop h3 {
    font-weight: 400px;
    line-height: 24px; }
  .growshop h4 {
    font-weight: 400; }
  .growshop ul li {
    list-style-type: none;
    text-decoration: none; }
  .growshop nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .growshop nav div ul {
      margin-left: 20px; }
    .growshop nav div img {
      width: 50px;
      height: auto; }

/*MAIN*/
.grow_main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(9, 650px);
  grid-row-gap: 15px;
  grid-template-areas: "main1" "main2" "main3" "main4" "main5" "main6" "main7" "main8" "main9"; }
  .grow_main .grow_main_1, .grow_main .grow_main_2, .grow_main .grow_main_3, .grow_main .grow_main_4, .grow_main .grow_main_5, .grow_main .grow_main_6, .grow_main .grow_main_7, .grow_main .grow_main_8, .grow_main .grow_main_9 {
    grid-area: "main1";
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    background-image: url(../pages/Growshop/images/main1.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    box-shadow: inset 10px 10px 100px #040404; }
  .grow_main .grow_main_2 {
    grid-area: "main2";
    background-image: url(../pages/Growshop/images/main2.jpg); }
  .grow_main .grow_main_3 {
    grid-area: "main3";
    background-image: url(../pages/Growshop/images/main3.jpg); }
  .grow_main .grow_main_4 {
    grid-area: "main4";
    background-image: url(../pages/Growshop/images/main4.jpg); }
  .grow_main .grow_main_5 {
    grid-area: "main5";
    background-image: url(../pages/Growshop/images/main5.jpg); }
  .grow_main .grow_main_6 {
    grid-area: "main6";
    background-image: url(../pages/Growshop/images/main6.jpg); }
  .grow_main .grow_main_7 {
    grid-area: "main7";
    background-image: url(../pages/Growshop/images/main7.jpg); }
  .grow_main .grow_main_8 {
    grid-area: "main8";
    background-image: url(../pages/Growshop/images/main8.jpg); }
  .grow_main .grow_main_9 {
    grid-area: "main9";
    background-image: url(../pages/Growshop/images/main9.jpg); }

/*FOOTER*/
.grow_footer {
  padding: 15px 15px 0px 15px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "footer1" "footer2" "footer3"; }
  .grow_footer .grow_footer_1 {
    grid-area: "footer1";
    margin-bottom: 17px;
    margin-top: 17px;
    background-color: #000 !important;
    color: #000 !important; }
  .grow_footer .grow_footer_2 {
    grid-area: "footer2"; }
  .grow_footer .grow_footer_3 {
    grid-area: "footer3"; }
    .grow_footer .grow_footer_3 h3 {
      display: block;
      text-align: center;
      justify-content: center;
      align-self: center;
      align-items: center; }
    .grow_footer .grow_footer_3 ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0%; }
  .grow_footer hr {
    width: 100%;
    border-radius: 1px;
    border-color: #999; }

/* MEDIAS QUERYS */
@media only screen and (min-width: 768px) {
  .grow_main {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: repeat(6, 650px);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-areas: "main1  main1" "main2  main2" "main3  main3" "main4  main5" "main6  main7" "main8  main9"; }
  .grow_main_1, .grow_main .grow_main_2, .grow_main .grow_main_3, .grow_main .grow_main_4, .grow_main .grow_main_5, .grow_main .grow_main_6, .grow_main .grow_main_7, .grow_main .grow_main_8, .grow_main .grow_main_9 {
    grid-area: main1; }
  .grow_main_2 {
    grid-area: main2; }
  .grow_main_3 {
    grid-area: main3; }
  .grow_main_4 {
    grid-area: main4; }
  .grow_main_5 {
    grid-area: main5; }
  .grow_main_6 {
    grid-area: main6; }
  .grow_main_7 {
    grid-area: main7; }
  .grow_main_8 {
    grid-area: main8; }
  .grow_main_9 {
    grid-area: main9; }
  .grow_nav_1 ul {
    display: flex;
    flex-direction: row; }
  .grow_nav_1 ul li {
    padding: 5px; } }

@media only screen and (min-width: 1024px) {
  .grow_nav {
    justify-content: center !important; } }

.samsung_page {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 12px; }
  .samsung_page a {
    text-decoration: none;
    list-style-type: none; }
  .samsung_page ul li {
    list-style: none; }

.samsung_page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "nav" "main1" "main2" "main3" "main4" "main5" "main6" "main7"; }
  .samsung_page .sg_nav {
    grid-area: nav; }
  .samsung_page .sg_main_1 {
    grid-area: main1; }
  .samsung_page .sg_main_2 {
    grid-area: main2; }
  .samsung_page .sg_main_3 {
    grid-area: main3; }
  .samsung_page .sg_main_4 {
    grid-area: main4; }
  .samsung_page .sg_main_5 {
    grid-area: main5; }
  .samsung_page .sg_main_6 {
    grid-area: main6; }
  .samsung_page .sg_main_7 {
    grid-area: main7; }

/*NAV*/
.sg_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10; }
  .sg_nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%; }
    .sg_nav ul li {
      padding: 5px; }
  .sg_nav .sg_logo {
    width: 100px;
    height: auto; }
  .sg_nav .sg_log button {
    position: relative;
    border: 1px;
    border-radius: 11px;
    background-color: #000;
    padding: 12px 20px 12px 20px;
    z-index: 1; }
    .sg_nav .sg_log button a {
      position: relative;
      color: #fff;
      font-weight: 300; }

/*MAIN 1*/
.sg_main_1 {
  padding-bottom: 50px;
  padding-left: 20px; }
  .sg_main_1 h1 {
    color: #000;
    font-weight: 400;
    max-width: 1000px; }

.sg_main_1_btns {
  display: flex;
  justify-content: left;
  max-width: 300px;
  margin-top: 30px; }
  .sg_main_1_btns .sg_main_1_btn_1 {
    padding: 12px 30px 12px 30px;
    background-color: #323232;
    color: white;
    border: 1px;
    border-style: none;
    border-radius: 10px;
    font-weight: 500; }
    .sg_main_1_btns .sg_main_1_btn_1 a {
      color: #fff;
      font-weight: 500;
      text-align: left; }
  .sg_main_1_btns .sg_main_1_btn_2 {
    padding: 12px 24px 12px 24px;
    background-color: #fff;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #999;
    margin-left: 30px; }
    .sg_main_1_btns .sg_main_1_btn_2 a {
      color: #999;
      font-weight: 700; }

/*CIRCULOS MAIN*/
.sg_contenedor_circulos {
  position: absolute; }
  .sg_contenedor_circulos .sg_main_1_img {
    display: none; }
    .sg_contenedor_circulos .sg_main_1_img .circulo {
      position: relative;
      width: 500px;
      height: 500px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: linear-gradient(to right, #93a1fd, #fd1d1d, #344ceb);
      background-size: 400% 400%;
      animation: animate-background 10s infinite ease-in-out; }
  .sg_contenedor_circulos .sg_main_1_img_2 {
    display: none; }
    .sg_contenedor_circulos .sg_main_1_img_2 .circulo_2 {
      display: none;
      position: relative;
      width: 600px;
      height: 600px;
      border-radius: 50%;
      background-color: #8996FE;
      filter: opacity(0.6); }

@keyframes animate-background {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/*MAIN 2*/
.sg_main_2 {
  border: 1px solid;
  color: white;
  padding-bottom: 50px;
  background-color: #1C1A1C;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column: auto auto;
  grid-template-areas: "titulo         titulo" "tarjetas       tarjetas"; }
  .sg_main_2 .sg_main_2_text {
    grid-area: titulo;
    padding: 50px 30px 30px 70px;
    max-width: 600px; }
    .sg_main_2 .sg_main_2_text p {
      color: #999; }
      .sg_main_2 .sg_main_2_text p b {
        color: #fff; }
  .sg_main_2 .sg_main_2_img {
    grid-area: foto;
    display: none; }
    .sg_main_2 .sg_main_2_img div img {
      width: 300px;
      height: auto; }
  .sg_main_2 .sg_main_2_list {
    grid-area: tarjetas;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    text-align: left;
    align-content: center;
    align-items: center; }
    .sg_main_2 .sg_main_2_list .sg_main_2_a, .sg_main_2 .sg_main_2_list .sg_main_2_b, .sg_main_2 .sg_main_2_list .sg_main_2_c {
      display: flex;
      align-items: flex-end;
      border: 1px;
      border-radius: 15px;
      font-size: 13px;
      margin: 10px;
      max-width: 370px;
      min-width: 270px;
      min-height: 380px;
      padding: 10px;
      background-color: #363537; }
      .sg_main_2 .sg_main_2_list .sg_main_2_a .sg_main_2_productos, .sg_main_2 .sg_main_2_list .sg_main_2_b .sg_main_2_productos, .sg_main_2 .sg_main_2_list .sg_main_2_c .sg_main_2_productos {
        width: 50px;
        height: auto; }
      .sg_main_2 .sg_main_2_list .sg_main_2_a div, .sg_main_2 .sg_main_2_list .sg_main_2_b div, .sg_main_2 .sg_main_2_list .sg_main_2_c div {
        padding: 10px; }
        .sg_main_2 .sg_main_2_list .sg_main_2_a div h4, .sg_main_2 .sg_main_2_list .sg_main_2_b div h4, .sg_main_2 .sg_main_2_list .sg_main_2_c div h4 {
          font-weight: 600;
          font-size: 20px; }
        .sg_main_2 .sg_main_2_list .sg_main_2_a div p, .sg_main_2 .sg_main_2_list .sg_main_2_b div p, .sg_main_2 .sg_main_2_list .sg_main_2_c div p {
          color: #999; }

/*MAIN 3*/
.sg_main_3 {
  position: relative;
  margin: auto;
  border: 1px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F6F8; }
  .sg_main_3 .metricas_column {
    padding: 60px 30px 60px; }
    .sg_main_3 .metricas_column ul li {
      list-style-type: none; }
    .sg_main_3 .metricas_column .column_i {
      background-color: #fff;
      padding: 10px;
      border: 1px;
      border-radius: 30px; }
      .sg_main_3 .metricas_column .column_i ul {
        padding: 0%; }
      .sg_main_3 .metricas_column .column_i li b {
        font-size: 30px;
        font-weight: 400; }
  .sg_main_3 .metricas_text {
    padding: 60px; }
    .sg_main_3 .metricas_text h4 {
      font-size: 25px; }
    .sg_main_3 .metricas_text p {
      color: #999; }

/*MAIN 4*/
.sg_main_4 {
  width: 95%;
  position: relative;
  margin: auto;
  border: 1px;
  border-radius: 30px;
  margin: 100px auto 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../pages/Samsung/images/main-4-background.png);
  background-position: center;
  height: 700px; }
  .sg_main_4 .sg_main_4_transform_a {
    text-align: left;
    padding: 30px 30px 10px 30px;
    align-self: flex-start;
    padding-bottom: 50px;
    margin-right: 100px; }
    .sg_main_4 .sg_main_4_transform_a .sg_main_4_text_a {
      max-width: 400px; }
      .sg_main_4 .sg_main_4_transform_a .sg_main_4_text_a h5 {
        color: #fff;
        font-size: 25px;
        font-weight: 400;
        margin: 10px 0px 10px 0px; }
      .sg_main_4 .sg_main_4_transform_a .sg_main_4_text_a p {
        color: #999; }
  .sg_main_4 .sg_main_4_transform_b {
    display: flex;
    align-content: flex-end;
    height: 360px;
    align-self: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 30px 30px 10px 30px; }
    .sg_main_4 .sg_main_4_transform_b .sg_main_4_text_b {
      max-width: 400px; }
      .sg_main_4 .sg_main_4_transform_b .sg_main_4_text_b h5 {
        color: #fff;
        font-size: 25px;
        font-weight: 400;
        margin: 10px 0px 10px 0px; }
      .sg_main_4 .sg_main_4_transform_b .sg_main_4_text_b p {
        color: #999; }
      .sg_main_4 .sg_main_4_transform_b .sg_main_4_text_b .sg_main_4_text_b {
        max-width: 400px; }

/*MAIN 5*/
.sg_main_5 {
  background-color: #F8F6F8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 200px; }
  .sg_main_5 .sg_main_5_a {
    max-width: 350px;
    padding: 30px 50px 30px 30px; }
    .sg_main_5 .sg_main_5_a .sg_main_5_btn {
      display: flex;
      flex-wrap: wrap; }
      .sg_main_5 .sg_main_5_a .sg_main_5_btn a {
        padding: 10px 20px 10px 20px;
        border: 1px solid #000;
        border-radius: 30px;
        text-decoration: none;
        color: #000;
        margin: 5px 10px 5px 0px;
        position: relative; }
        .sg_main_5 .sg_main_5_a .sg_main_5_btn a:hover {
          background-color: #000;
          color: #fff; }
  .sg_main_5 .sg_main_5_b {
    width: 300px;
    height: 300px;
    border: 1px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; }
    .sg_main_5 .sg_main_5_b img {
      width: 250px;
      height: 250px; }

/* MAIN 6 */
.sg_main_6 {
  background-color: #242324;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  max-height: 500px; }
  .sg_main_6 .sg_main_6_a {
    position: relative;
    bottom: 100px; }
    .sg_main_6 .sg_main_6_a div img {
      display: none;
      width: 300px;
      height: auto; }
  .sg_main_6 .sg_main_6_b {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 600px; }
    .sg_main_6 .sg_main_6_b h3 {
      font-weight: 400;
      font-size: 25px;
      padding: 0%; }
    .sg_main_6 .sg_main_6_b p {
      color: #999; }

/* MAIN 7 */
.sg_main_7 {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .sg_main_7 .sg_container_circle .sg_main_7_circle_a {
    display: none; }
  .sg_main_7 .sg_main_7_text {
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    max-width: 500px;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center; }
    .sg_main_7 .sg_main_7_text img {
      width: 50px;
      height: auto; }
  .sg_main_7 .sg_main_7_circle_b {
    display: none; }

/*FOOTER*/
.sg_footer {
  background-color: #242324; }
  .sg_footer h5 {
    text-align: center;
    color: #fff;
    font-weight: 300; }

/*SAMSUNG*/
@media screen and (min-width: 768px) {
  .samsung_page {
    font-size: 14px; }
  .sg_main_1_text {
    max-width: 600px; }
  .sg_main_3 {
    flex-direction: row; } }

@media screen and (min-width: 1024px) {
  .samsung_page {
    font-size: 16px; }
  .sg_main_1 {
    padding-bottom: 150px; }
  .sg_nav {
    flex-direction: row; }
  .sg_main_2_text {
    max-width: 500px; }
  .sg_main_2_img {
    display: inherit;
    position: absolute;
    width: 200px;
    height: 350px;
    left: 600px;
    bottom: 50px; }
  .sg_main_2_list {
    flex-direction: row; }
  .sg_main_5 {
    flex-direction: row; }
  .sg_main_6_phone {
    display: inherit;
    position: relative;
    width: 300px;
    height: 600px; } }

@media screen and (min-width: 1360px) {
  .samsung_page {
    font-size: 18px; }
  .sg_main_1 {
    display: flex;
    flex-direction: row; }
  .sg_main_1_text {
    position: relative;
    padding-left: 50px; }
  .sg_main_1_img {
    display: inherit;
    position: relative;
    bottom: 90px;
    left: 890px;
    width: 440px;
    height: 500px;
    overflow: hidden;
    padding-bottom: 50px; }
  .sg_main_1_img_2 {
    display: inherit;
    position: absolute;
    bottom: 86px;
    left: 700px;
    width: 600px;
    height: 200px;
    overflow: hidden; }
  .sg_main_2_img {
    top: 300px;
    left: 850px; }
  .sg_circulo {
    display: inherit; }
  .sg_circulo_2 {
    display: inherit; }
  .sg_main_7_circle_a {
    display: inherit;
    position: relative;
    bottom: 150px;
    right: 100px;
    z-index: 2;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(to right, #6171FF, #93a1fd); }
  .sg_main_7_circle_b {
    display: inherit;
    position: relative;
    z-index: 2;
    top: 100px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: linear-gradient(to right, red, #93a1fd); }
  .sg_container_circle {
    position: relative;
    right: 50px;
    width: 300px;
    height: 300px;
    overflow: hidden; }
  .sg_container_circle_b {
    position: relative;
    left: 50px;
    width: 400px;
    height: 400px;
    overflow: hidden; } }

@font-face {
  font-family: 'Semibold';
  src: url("../fonts/Graphik-Semibold.woff");
  src: url("../fonts/Graphik-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Semibold.woff") format("woff"), url("../fonts/Graphik-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Regular';
  src: url("../fonts/Graphik-Regular.woff");
  src: url("../fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Graphik-Regular.woff") format("woff"), url("../fonts/Graphik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

a:link a:active a:visited {
  text-decoration: none; }

.portfolio {
  margin: 0%;
  padding: 0%;
  font-family: 'Semibold', sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 18px; }
  .portfolio .portfolio_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    background-image: url(../images/alpacino.jpg);
    background-position: 150px -120px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    background-color: #000; }
    .portfolio .portfolio_main .portfolio_titulo {
      position: relative; }
      .portfolio .portfolio_main .portfolio_titulo:active {
        opacity: 0; }
      .portfolio .portfolio_main .portfolio_titulo:active + .titulo_2 {
        display: block;
        position: absolute; }
      .portfolio .portfolio_main .portfolio_titulo h1 {
        font-size: 55px;
        font-weight: 600;
        line-height: 75px;
        font-family: 'Semibold', sans-serif;
        margin: 0%; }
      .portfolio .portfolio_main .portfolio_titulo .portfolio_a {
        color: #2538cc; }
      .portfolio .portfolio_main .portfolio_titulo .porfolio_b {
        color: #fff; }
      .portfolio .portfolio_main .portfolio_titulo .porfolio_c {
        color: #fff; }
    .portfolio .portfolio_main .portfolio_titulo_2 {
      display: none;
      position: absolute;
      top: 250px; }
      .portfolio .portfolio_main .portfolio_titulo_2 h1 {
        font-size: 55px;
        font-weight: 600;
        line-height: 75px;
        font-family: 'Semibold', sans-serif;
        margin: 0%; }
  .portfolio article {
    padding: 40px 0px 50px 10px;
    display: flex;
    flex-direction: column;
    text-align: left; }
    .portfolio article h2 {
      font-size: 44px; }
    .portfolio article #p1 {
      font-size: 24px; }
    .portfolio article p {
      font-family: 'Regular', sans-serif;
      line-height: 31px;
      font-size: 18px;
      width: 90%; }
    .portfolio article .portfolio_art_proyectos {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 30px;
      text-align: center;
      align-content: center;
      align-items: center; }
      .portfolio article .portfolio_art_proyectos .portfolio_proyecto {
        display: flex;
        align-items: flex-end;
        border: 1px;
        border-radius: 15px;
        font-size: 13px;
        margin: 10px;
        max-width: 370px;
        min-width: 270px;
        min-height: 380px;
        padding: 10px;
        background-color: #363537; }
        .portfolio article .portfolio_art_proyectos .portfolio_proyecto img {
          width: 250px;
          height: auto; }

/* Media Querys */
@media screen and (min-width: 768px) {
  .portfolio_art_proyectos {
    flex-direction: row;
    flex-wrap: wrap; }
  .portfolio_main {
    background-position: 400px -180px;
    background-repeat: no-repeat;
    background-size: 450px;
    height: 570px; }
    .portfolio_main h1 {
      position: relative;
      top: 0px;
      font-size: 103px;
      font-weight: 600;
      line-height: 90px;
      font-family: 'Semibold', sans-serif;
      margin: 30px; } }

@media screen and (min-width: 1023px) {
  .portfolio_main {
    background-position: 500px -170px;
    background-repeat: no-repeat;
    background-size: 400px;
    height: 570px; }
    .portfolio_main h1 {
      left: 50px;
      top: 0px; } }

@media screen and (min-width: 1200px) {
  .portfolio_main {
    background-position: 750px -170px;
    background-repeat: no-repeat;
    background-size: 460px;
    height: 570px; }
    .portfolio_main h1 {
      left: 170px;
      top: 0px; } }
